<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.folkmedhar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_greida5"
        android:label="@string/app_name"
        android:logo="@drawable/ic_greida5"
        android:theme="@style/CustomActionBarTheme" >

        
         <receiver  android:process=":remote" android:name="AlarmReceiver"></receiver>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantanir.bokun.Skref1"
            android:label="@string/title_activity_step1"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".pantanir.AllarPantanir"
            android:label="@string/title_activity_allar_pantanir"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".pantanir.SidastaPontun"
            android:label="@string/title_activity_sidasta_pontun"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.example.folkmedhar.pantanir.MinarPantanir"
            android:label="@string/title_activity_mitt_svaedi"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".UmStofuna"
            android:label="@string/title_activity_um_stofuna"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".pantanir.bokun.Skref3"
            android:label="@string/title_activity_skref3"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".pantanir.bokun.Skref2"
            android:label="@string/title_activity_skref2"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".StadfestingBokunar"
            android:label="@string/title_activity_bokun"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Tilbod"
            android:label="@string/title_activity_tilbod"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".notendur.LoginActivity"
            android:label="@string/title_activity_login" 
            android:theme="@style/noActionBarCustomTheme">
        </activity>
        <activity
            android:name=".notendur.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/noActionBarCustomTheme" >
        </activity>
        <activity
            android:name=".Upphafsskjar"
            android:label="@string/title_activity_upphafsskjar" >
        </activity>
        <activity
            android:name=".pantanir.bokun.CalendarActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            
        </activity>
        <activity
            android:name=".notendur.UpdateUser"
            android:label="@string/title_activity_update_user" >
        </activity>
        <activity
            android:name=".Connection"
            android:label="@string/title_activity_connection" >
        </activity>
        
        <receiver android:name=".BootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        
        
    </receiver>
        
    </application>
    

</manifest>
